.btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.form {
  justify-content: center;
  width: 700px;
  height: auto;
  -webkit-box-shadow: 7px 11px 38px -3px rgba(5, 5, 5, 1);
  -moz-box-shadow: 7px 11px 38px -3px rgba(5, 5, 5, 1);
  box-shadow: 7px 11px 38px -3px rgba(5, 5, 5, 1);
  padding: auto;
  margin: auto;
  margin-top: 130px;
  display: grid;
  background-color: white;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 5px;
  margin-bottom: 4vh;
 
 
}
.form input{
  height: 5vh;
  border-radius: 15px;
  border: none;
  padding: 1vh 1vw;
  /* From https://css.glass */
  background: rgba(255, 255, 255);
}
.form p{
  color: red;
}
/* 
body{
   background: linear-gradient(109.6deg, rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2%);
} */