.left-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 25%;
  background: rgb(0,0,0); 
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(64,16,173,1) 50%, rgba(143,0,228,1) 100%);
}
.nav-profile{
  width: 100%;
  height: 25vh;
  background-color: #6e53fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  position: relative;
  top: 10vh;
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}
/* .fondo{
  
} */
.card-container{
  display: flex;
}
.main-section{
  width: 100%;
}
.items{
  display: grid;
  gap: 30px;
  background-color: #dddddd;
}
.items:hover {
  background-color: #555;
  color: white;
}
.form{
  width: auto;
}
.fondo{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 230px;
  width: 20vw;
  
}

.item-menu {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  padding: 1vh 0vw 1vh 1vw;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin: 1vh 0;
}

.item-menu:hover {
  display: flex;
  justify-content: flex-start;
  gap: 1vw;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin: 1vh 0;
  background-color: #fb3984;
  border-radius: 10px 0 0 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */
.title{
  font-family: 'Caprasimo', cursive;
  font-size:xx-large
}
.btn{
  display: contents;
}
.section-center{
  justify-content: center;
}